.addTaskModalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backgroundColorBlurMore);
  z-index: 1;
}

.addTaskModalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: var(--colorPrimary);
  border-radius: var(--roundAllCorners);
  box-shadow: 0 5px 10px var(--colorTertiary);
  padding: 1.5rem;
}

.addTaskModalContent:focus {
  outline: none !important;
  border: 1px solid var(--colorTertiary);
  box-shadow: 0 0 10px var(--colorTertiaryLight);
}

.addTaskModal {
  color: var(--colorTertiary);
}

.addTaskModal h1 {
  font-family: var(--fontFamily);
  font-weight: var(--fontWeightRegular);
  padding: 0.5rem 1rem;
}

.addTaskModal .taskInput {
  padding: 0.5rem 1rem;
}

.addTaskModal .taskInput input {
  font-family: var(--fontFamily);
  border-radius: 20px;
  border: 1px solid var(--colorTertiary);
  padding: 8px 52px 8px 10px;
  font-size: var(--fontSizeText);
  width: 83%;
  background-color: inherit;
  color: var(--colorSecondary);
  font-weight: var(--fontWeightMedium);
}

.addTaskModal .taskInput input:focus {
  outline: none !important;
  border: 1px solid var(--colorSecondary);
  box-shadow: 0 0 10px var(--colorSecondaryLight);
}

::placeholder {
  font-size: var(--fontSizeText);
  font-weight: var(--fontWeightRegular);
  color: var(--colorTertiary);
}

.addTaskModal .actions {
  padding: 2rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
