.category {
  padding: 0.5rem 1rem;
  padding-top: 1.5rem;
}

.ownCategory {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ownCategory input {
  font-family: var(--fontFamily);
  border-radius: 20px;
  border: 1px solid var(--colorTertiary);
  padding: 8px 52px 8px 10px;
  font-size: var(--fontSizeText);
  width: 140px;
  background-color: inherit;
  color: var(--colorSecondary);
  font-weight: var(--fontWeightMedium);
}

.ownCategory input:focus {
  outline: none !important;
  border: 1px solid var(--colorSecondary);
  box-shadow: 0 0 10px var(--colorSecondaryLight);
}

.categoryRoot {
  position: relative;
  width: 200px;
}

.categoryControl {
  position: relative;
  overflow: hidden;
  background-color: inherit;
  border: 1px solid var(--colorTertiary);
  border-radius: 20px;
  box-sizing: border-box;
  color: var(--colorTertiary);
  cursor: pointer;
  outline: none;
  padding: 8px 52px 8px 10px;
  font-weight: var(--fontWeightRegular);
  font-size: var(--fontSizeText);
}

.is-open .categoryControl {
  border-radius: 20px 20px 0 0;
}

.categoryControl:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.categoryPlaceholder.is-selected {
  color: var(--colorSecondary);
  font-weight: var(--fontWeightMedium);
}

.categoryArrow {
  border-color: var(--colorTertiary) transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 16px;
  width: 0;
}

.is-open .categoryArrow {
  border-color: transparent transparent var(--colorTertiary);
  border-width: 0 5px 5px;
}

.categoryMenu {
  background-color: var(--colorPrimary);
  border: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  border-radius: 0 0 20px 20px;
  text-align: center;
  font-weight: var(--fontWeightRegular);
  font-size: var(--fontSizeText);
  border: 1px solid var(--colorTertiary);
}

.categoryMenu > .Dropdown-option {
  color: var(--colorTertiary);
}

.categoryMenu > .Dropdown-option:first-child {
  padding-top: 1rem;
}

.categoryMenu > .Dropdown-option:last-child {
  padding-bottom: 1rem;
}
