.pickEmoji {
  padding: 0.5rem 1rem;
}

.emojiOutput {
  margin-bottom: 1rem;
  padding: 8px 52px 8px 10px;
  width: 200px;
  height: 19px;
  display: flex;
  align-items: center;
}
.picked {
  color: var(--colorSecondary);
  font-weight: var(--fontWeightMedium);
  display: flex;
  align-items: center;
}

.picked span {
  margin: 0 1rem;
}

.pickEmoji .emoji-mart {
  font-family: var(--fontFamily);
  color: var(--colorTertiary);
  border-color: var(--colorTertiary);
  border-radius: var(--roundAllCorners);
}

.pickEmoji .emoji-mart-bar {
  border-color: var(--colorTertiary);
}

.pickEmoji .emoji-mart-anchor-selected .emoji-mart-anchor-icon {
  color: var(--colorSecondaryLight);
}

.pickEmoji .emoji-mart-anchor-selected span {
  background-color: var(--colorSecondaryLight) !important;
}

.pickEmoji .emoji-mart-anchor-icon {
  color: var(--colorTertiary);
}

.pickEmoji .emoji-mart-search input {
  border-color: var(--colorTertiary);
}

.pickEmoji .emoji-mart-search input::placeholder {
  color: var(--colorTertiary);
}

.pickEmoji .emoji-mart-search input:focus {
  color: var(--colorSecondary);
}

.pickEmoji .emoji-mart-search-icon svg {
  fill: var(--colorSecondary);
}

.pickEmoji .emoji-mart-preview-data span {
  color: var(--colorTertiary);
}

.pickEmoji .emoji-mart-preview-data span.emoji-mart-title-label {
  color: var(--colorSecondary);
}

.pickEmoji .emoji-mart-skin-swatches {
  border-color: var(--colorTertiary);
}

.pickEmoji .emoji-mart-preview-name {
  color: var(--colorSecondary);
}
