.todoList {
  width: var(--widthTodoApp);
  background-color: var(--backgroundColorBlur);
  border-radius: var(--roundBottomCorners);
}

.todoList > .actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--backgroundColorBlur);
  padding: 1.5rem 0;
  padding-bottom: 2rem;
  margin: 1.5rem 0;
}
