.statistics {
  color: var(--colorPrimary);
  display: flex;
  flex-direction: column;
  width: var(--widthTodoApp);
  background-color: var(--backgroundColorBlur);
  margin-top: 1.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 45px;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--fontWeightRegular);
  font-size: 1rem;
  cursor: pointer;
}

.filter {
  text-align: center;
  font-weight: var(--fontWeightRegular);
}
