.currentDate {
  margin-top: 3rem;
  padding: 2rem 0;
  text-align: center;
  background-color: var(--backgroundColorBlur);
  max-width: var(--widthTodoApp);
  width: var(--widthTodoApp);
  box-shadow: var(--boxShadowNeonPurple);
  text-shadow: var(--textShadowNeonPurple);
}

.currentDate h1 {
  margin-bottom: 1rem;
  font-weight: var(--fontWeightLight);
  font-size: var(--fontSizeTitle);
}

.currentDate h2 {
  font-weight: var(--fontWeightExtraLight);
  font-size: var(--fontSizeSubtitle);
}

.neonPurple {
  color: var(--colorPrimary);
  animation: flicker 1.5s infinite alternate;
  box-sizing: border-box;
  border: 0.2rem solid var(--colorPrimary);
}

.animateStop {
  animation: none;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow: var(--boxShadowNeonPurple);
    text-shadow: var(--textShadowNeonPurple);
  }

  20%,
  24%,
  55% {
    box-shadow: none;
    text-shadow: none;
  }
}
