.btn {
  width: 100px;
  height: 35px;
  cursor: pointer;

  font-size: var(--fontSizeText);
  font-weight: var(--fontWeightRegular);

  border-radius: var(--roundAllCorners);
  border-width: 1px;
  border-style: solid;

  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: var(--colorPrimary);
  background-color: var(--colorSecondary);
  border-color: var(--colorSecondary);
}

.clear,
.delete,
.disabled {
  color: var(--colorPrimary);
  background-color: var(--colorTertiary);
  border-color: var(--colorTertiary);
}

.disabled {
  cursor: default;
}

.cancel {
  color: var(--colorTertiary);
  background-color: var(--colorPrimary);
  border-color: var(--colorTertiary);
}

.back {
  width: 150px;
  border: none;
  color: var(--colorTertiary);
  justify-content: flex-end;
}

.main {
  width: 200px;
  height: 50px;
  font-size: var(--fontSizeSubtitle);
  color: var(--colorPrimary);
  text-shadow: var(--textShadowNeonOrange);

  background-color: var(--colorSecondary);
  border-color: var(--colorSecondaryLight);

  padding: 0.4em;
  box-shadow: var(--boxShadowNeonOrange);
}
