.task {
  width: var(--widthTasksList);
  margin-top: 0.5rem;
  color: var(--colorPrimary);
  background-color: var(--backgroundColorBlur);
  border-radius: var(--roundAllCorners);

  /* background-color: turquoise; */
}

.taskItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  border-radius: var(--roundAllCorners);
}

.taskItem .taskAttributes {
  display: flex;
  align-items: center;
}

.taskAttributes div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.taskItem .category {
  padding: 0;
  margin: 0 5px;
  margin-right: 0;
}
.taskItem .emoji {
  margin: 3px 10px;
  background-color: var(--colorPrimary);
  border-radius: 50%;
  padding: 3px 6px;
}

.taskItem img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.taskItem img:hover {
  cursor: pointer;
}

.taskItem .taskOptions {
  display: flex;
}

.taskItem input {
  color: var(--colorPrimary);
  background-color: inherit;
  border: none;
  border-bottom: 1px solid var(--colorPrimary);
  border-radius: 6%;
  width: 250px;
  font-size: var(--fontSizeText);
  font-weight: var(--fontWeightRegular);
  font-family: var(--fontFamily);
}

.taskItem input:focus {
  outline: none !important;
  border-color: var(--colorTertiaryLight);
}
