.taskList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.noTaskTodo {
  margin-top: 0.5rem;
  color: var(--colorPrimary);
  background-color: var(--backgroundColorBlur);
  border-radius: var(--roundAllCorners);
  padding: 0.5rem 11.5rem;
}
