.warningModalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backgroundColorBlurMore);
  z-index: 1;
}
.warningModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: var(--colorPrimary);
  border-radius: var(--roundAllCorners);
  box-shadow: 0 5px 10px var(--colorTertiary);
  padding: 1.5rem;
  color: var(--colorTertiary);
}

.warningModal h1 {
  font-family: var(--fontFamily);
  font-weight: var(--fontWeightRegular);
  padding: 0.5rem 1rem;
}
.warningModal p {
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
}

.warningModal .actions {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
