html {
  background: url(./images/pawel-nolbert-4u2U8EO9OzY-unsplashBig.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: var(--fontFamily);
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --fontFamily: "Montserrat", sans-serif;

  --widthTodoApp: 500px;
  --widthTasksList: 475px;
  --heightTodoApp: 650px;

  --fontSizeTitle: 2.5rem;
  --fontSizeSubtitle: 1.5rem;
  --fontSizeHeader: 1.25rem;
  --fontSizeText: 1rem;

  --fontWeightBlack: 900;
  --fontWeightExtraBold: 800;
  --fontWeightBold: 700;
  --fontWeightSemiBold: 600;
  --fontWeightMedium: 500;
  --fontWeightRegular: 400;
  --fontWeightLight: 300;
  --fontWeightExtraLight: 200;
  --fontWeightThin: 100;

  --colorPrimary: #fff;
  --colorSecondary: #ff7300;
  --colorSecondaryLight: #ff7e14;
  --colorTertiary: #680091;
  --colorTertiaryLight: #bc13fe;
  --backgroundColorBlur: rgba(0, 0, 0, 0.4);
  --backgroundColorBlurMore: rgba(0, 0, 0, 0.6);
  --backgroundColorBlurMax: rgba(0, 0, 0, 0.8);
  --backgroundColorBlack: rgba(0, 0, 0, 1);

  --roundAllCorners: 20px;
  --roundTopCorners: 20px 20px 2px 2px;
  --roundBottomCorners: 2px 2px 20px 20px;

  --boxShadowNeonOrange: 0 0 0.2rem var(--colorPrimary),
    0 0 0.2rem var(--colorPrimary), 0 0 2rem var(--colorSecondaryLight),
    0 0 0.8rem var(--colorSecondaryLight), 0 0 2.8rem var(--colorSecondaryLight),
    inset 0 0 1.3rem var(--colorSecondaryLight);
  --boxShadowNeonPurple: 0 0 0.2rem var(--colorPrimary),
    0 0 0.2rem var(--colorPrimary), 0 0 2rem var(--colorTertiaryLight),
    0 0 0.8rem var(--colorTertiaryLight), 0 0 2.8rem var(--colorTertiaryLight),
    inset 0 0 1.3rem var(--colorTertiaryLight);

  --boxShadowNeonOrangeTask: 0 0 0.2rem var(--colorPrimary),
    0 0 0.2rem var(--colorPrimary), 0 0 0rem var(--colorSecondaryLight),
    0 0 0.2rem var(--colorSecondaryLight), 0 0 1.5rem var(--colorSecondaryLight),
    inset 0 0 0.5rem var(--colorSecondaryLight);
  --boxShadowNeonPurpleTask: 0 0 0.2rem var(--colorPrimary),
    0 0 0.2rem var(--colorPrimary), 0 0 0rem var(--colorTertiaryLight),
    0 0 0.2rem var(--colorTertiaryLight), 0 0 1.5rem var(--colorTertiaryLight),
    inset 0 0 0.5rem var(--colorTertiaryLight);

  --textShadowNeonOrange: 0 0 7px var(--colorPrimary),
    0 0 10px var(--colorPrimary), 0 0 21px var(--colorPrimary),
    0 0 42px var(--colorSecondary), 0 0 82px var(--colorSecondary),
    0 0 92px var(--colorSecondary), 0 0 102px var(--colorSecondary),
    0 0 151px var(--colorSecondary);
  --textShadowNeonPurple: 0 0 7px var(--colorPrimary),
    0 0 10px var(--colorPrimary), 0 0 21px var(--colorPrimary),
    0 0 42px var(--colorTertiaryLight), 0 0 82px var(--colorTertiaryLight),
    0 0 92px var(--colorTertiaryLight), 0 0 102px var(--colorTertiaryLight),
    0 0 151px var(--colorTertiaryLight);
}
/* 
#21F32E
#23D41D
#FFFB00
#FF0000
#00CFFF ciemniejszy
#00DBFF jasniejszy */

h1,
h2,
p {
  margin: 0;
}

.groupTitle {
  padding: 0.5rem 0 0 0;
  text-align: center;
  font-size: var(--fontSizeText);
  color: var(--colorPrimary);
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.15px;
}

.neonTextPurple {
  color: var(--colorPrimary);
  text-shadow: 0 0 7px var(--colorPrimary), 0 0 10px var(--colorPrimary),
    0 0 21px var(--colorPrimary), 0 0 42px var(--colorTertiaryLight),
    0 0 82px var(--colorTertiaryLight), 0 0 92px var(--colorTertiaryLight),
    0 0 102px var(--colorTertiaryLight), 0 0 151px var(--colorTertiaryLight);
}

.neonBorderPurple {
  box-sizing: border-box;
  border: 0.2rem solid var(--colorPrimary);
  padding: 0.3em;
  box-shadow: 0 0 0.2rem var(--colorPrimary), 0 0 0.2rem var(--colorPrimary),
    0 0 2rem var(--colorTertiaryLight), 0 0 0.8rem var(--colorTertiaryLight),
    0 0 2.8rem var(--colorTertiaryLight),
    inset 0 0 1.3rem var(--colorTertiaryLight);
}
.neonBorderTaskPurple {
  border: 0.2rem solid var(--colorPrimary);
  padding: 0.3em;
  box-shadow: 0 0 0.2rem var(--colorPrimary), 0 0 0.2rem var(--colorPrimary),
    0 0 0rem var(--colorTertiaryLight), 0 0 0.2rem var(--colorTertiaryLight),
    0 0 1.5rem var(--colorTertiaryLight),
    inset 0 0 0.5rem var(--colorTertiaryLight);
}

.neonTextOrange {
  color: var(--colorPrimary);
  text-shadow: 0 0 7px var(--colorPrimary), 0 0 10px var(--colorPrimary),
    0 0 21px var(--colorPrimary), 0 0 42px var(--colorSecondary),
    0 0 82px var(--colorSecondary), 0 0 92px var(--colorSecondary),
    0 0 102px var(--colorSecondary), 0 0 151px var(--colorSecondary);
}

.neonBorderOrange {
  box-sizing: border-box;
  border: 0.2rem solid var(--colorPrimary);
  padding: 0.4em;
  box-shadow: 0 0 0.2rem var(--colorPrimary), 0 0 0.2rem var(--colorPrimary),
    0 0 2rem var(--colorSecondaryLight), 0 0 0.8rem var(--colorSecondaryLight),
    0 0 2.8rem var(--colorSecondaryLight),
    inset 0 0 1.3rem var(--colorSecondaryLight);
}

.neonBorderTaskOrange {
  border: 0.2rem solid var(--colorPrimary);
  padding: 0.4em;
  box-shadow: 0 0 0.2rem var(--colorPrimary), 0 0 0.2rem var(--colorPrimary),
    0 0 0rem var(--colorSecondaryLight), 0 0 0.2rem var(--colorSecondaryLight),
    0 0 1.5rem var(--colorSecondaryLight),
    inset 0 0 0.5rem var(--colorSecondaryLight);
}

.borderRoundTop {
  border-radius: var(--roundTopCorners);
}
.borderRoundBottom {
  border-radius: var(--roundBottomCorners);
}
.borderRoundAll {
  border-radius: var(--roundAllCorners);
}

.topBorderNone {
  border-top: none;
}
.bottomBorderNone {
  border-bottom: none;
}

.horizonLineDarkPurple {
  border: none;
  margin-block: 0;
  width: 400px;
  border-bottom: 2px solid var(--colorTertiary);
  border-radius: 50%;
}

.horizonLinePurple {
  /* margin-block: 0; */
  width: 450px;
  border: 2px solid var(--colorTertiary);
  border-radius: 60%;
  box-shadow: 0 0 5px var(--colorTertiaryLight);
  padding: 0;
}

.horizonLineOrange {
  /* margin-block: 0; */
  width: 450px;
  border: 2px solid var(--colorSecondary);
  border-radius: 60%;
  box-shadow: 0 0 5px var(--colorSecondaryLight);
  padding: 0;
}
