.filterRoot {
  position: relative;
}

.filterControl {
  position: relative;
  overflow: hidden;
  background-color: inherit;
  border: none;
  border-radius: none;
  box-sizing: border-box;
  color: inherit;
  cursor: default;
  outline: none;
  transition: all 200ms ease;
  width: 200px;
  text-align: center;
  font-weight: var(--fontWeightRegular);
  cursor: pointer;
}

.filterArrow {
  border-color: transparent;
  border-style: none;
  border-width: 0;
  content: none;
  display: none;
  height: 0;
  margin-top: 0;
}

.is-open .filterArrow {
  border-color: transparent;
  border-width: 0;
}

.filterMenu {
  background-color: var(--backgroundColorBlack);
  border: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: 4px;
  min-width: 170px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  font-weight: var(--fontWeightRegular);
  border-radius: var(--roundBottomCorners);
}

.Dropdown-option {
  box-sizing: border-box;
  color: var(--colorPrimary);
  cursor: pointer;
  display: block;
  padding: 0.25rem;
  animation: growDown 300ms ease-in-out forwards;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.filterMenu .Dropdown-option:first-child {
  margin-top: 5px;
}

.filterMenu .Dropdown-option:last-child {
  margin-bottom: 5px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: none;
  color: var(--colorSecondary);
  font-weight: var(--fontWeightRegular);
}

.Dropdown-option.is-selected {
  background-color: none;
  color: var(--colorSecondary);
  font-weight: var(--fontWeightRegular);
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: var(--colorPrimary);
  font-weight: var(--fontWeightRegular);
  cursor: default;
  display: block;
}
